.header{
    padding: 18px 70px;
    margin: 0 auto;
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 38px;
    height: 38px;
}

/*-----------------Burger----------------------*/

.burgerBtn{
    display: none;
}

@media screen and (max-width: 768px){
    .burgerBtn{
        width: 28px;
        height: 23px;
        position: absolute;
        right: 8px;
        display: block;
    }

    .burgerBtn::before{
        content: '';
        position: absolute;
        width: 28px;
        top: 0;
        background-color: white;
        height: 3px;
    }

    .burgerBtn span {
        position: absolute;
        top: 10.5px;
        width: 28px;
        height: 3px;
        background-color: white;
    }

    .burgerBtn::after{
        content: '';
        position: absolute;
        width: 28px;
        bottom: 0;
        background-color: white;
        height: 3px;
    }
}

@media screen and (max-width: 375px) {
    .burgerBtn{
        right: 9px;
    }
}

@media screen and (max-width: 320px) {
    .burgerBtn{
        width: 22px;
        height: 20.5px;
    }

    .burgerBtn::before{
        width: 22px;
        top: 1px;
        height: 2.5px;
    }

    .burgerBtn span {
        top: 10px;
        width: 22px;
        height: 2.5px;
    }

    .burgerBtn::after{
        width: 22px;
        bottom: -1px;
        height: 2.5px;
    }
}

/*-----------------End of Burger----------------------*/


/*-----------------Registered Menu----------------------*/

.registeredMenu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}

.accountLink{
    display: flex;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    margin-left: 30px;
}

.accountLinkBlock{
    display: flex;
    align-items: center;
    gap: 13px;
}

.accountLinkTitle{
    margin: 0;
}

.accountLinkImage{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #313131;
    background-image: url("../../../images/Account.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/*-----------------End of Registered Menu----------------------*/

/*-----------------Not Registered Menu----------------------*/

.NotRegisteredMenu{
    display: flex;
    align-items: center;
    gap: 30px;
}

.registerLink{
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: white;
}

.linkBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    background-color: #3DDC84;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .2s ease-out;
}

.linkBlock:hover{
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.loginLink{
    color: #000;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
}

/*-----------------End of Not Registered Menu----------------------*/


@media screen and (max-width: 768px) {
    .header{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 375px) {
    .header{
        padding-left: 14px;
        padding-right: 14px;
    }

    /*-----------------Not Registered Menu 375px----------------------*/

    .NotRegisteredMenu{
        gap: 14px;
    }
    .linkBlock{
        width: 54px;
        height: 26px;
    }
    .loginLink{
        font-size: 10px;
    }
    .registerLink{
        font-size: 10px;
    }

    /*-----------------End Of Not Registered Menu 375px----------------------*/

}



