.searchForm{
    padding: 70px 0 10px;
}

.underLine{
    padding-bottom: 70px;
    border-bottom: solid 1px #424242;
}

.searchFormContainer{
    border-radius: 10px;
    background-color: #2F2F2F;
    padding: 16px 30px 16px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchLeftSide{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.searchIcon{
    background-image: url("../../../images/Search.svg");
    height: 34px;
    width: 34px;
    background-repeat: no-repeat;
    background-position: center;
}

.searchInput{
    border: none;
    background-color: #2F2F2F;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    width: 100%;
    height: 32px;
}

.searchInput:focus{
    outline: none;
}

.searchRightSide{
    display: flex;
    align-items: center;
    gap: 30px;
}

.startSearch{
    height: 34px;
    width: 80px;
    background-color: #4285F4;
    background-image: url("../../../images/SearchWhite.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 48px;
    border: none;
    transition: box-shadow .1s linear;
    cursor: pointer;
}

.startSearch:hover{
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.line{
    height: 40px;
    width: 1px;
    background-color: #424242;
}

.filter{
    display: flex;
    align-items: center;
    gap: 14px;
}

.filterButton{
    height: 20px;
    width: 36px;
    border-radius: 20px;
    background-color: #343434;
    position: relative;
    border: none;
    cursor: pointer;
}

.filterButton:focus{
    outline: none;
}

.filterButtonChoice{
    margin-top: -7.5px;
    width: 15px;
    height: 14px;
    background-color: #2BE080;
    border-radius: 50%;
    border: solid 1px #FFFFFF;
    position: absolute;
    right: 2px;
    transition: right .2s linear;
}

.filterButtonChoiceNotActive{
    margin-top: -7.5px;
    width: 15px;
    height: 14px;
    background-color: #2BE080;
    border-radius: 50%;
    border: solid 1px #FFFFFF;
    position: absolute;
    right: 18px;
    transition: right .2s linear;
}

.filterText{
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    min-width: 117px;
}

.moviesError{
    color: #EE3465;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: block;
    text-align: left;
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
    .searchForm{
        padding-top: 80px;
    }
    .underLine{
        padding-bottom: 109px;
    }
    .searchFormContainer{
        padding: 16px 20px;
    }
    .searchRightSide{
        gap: 19px;
    }
}

@media screen and (max-width: 767px) {
    .searchForm{
        position: relative;
    }
    .searchFormContainer{
        padding: 19px;
    }
    .searchIcon{
        display: none;
    }
    .line{
        display: none;
    }
    .filter{
        position: absolute;
        top: 197px;
        left:50%;
        transform:translate(-50%, 0);
        gap: 13px;
    }
    .filterText{
        font-size: 11px;
    }
}
